repos:
  # Make sure that Jupyter notebooks under version control
  # have their outputs stripped before committing
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.1
    hooks:
      - id: nbstripout
        files: ".ipynb"

  # Run Ruff - a fast Python linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      # Run the linter.
      - id: ruff-check
        types_or: [ python, pyi ]
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi ]

  # Format C++ code with Clang-Format - automatically applying the changes
  - repo: https://github.com/ssciwr/clang-format-precommit
    rev: v16.0.2
    hooks:
      - id: clang-format
        args:
        - -i
        - --style=Mozilla
        exclude: ^ext/

  # Add some general purpose useful hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      # Make sure that contained YAML files are well-formed
      - id: check-yaml
      # Trim trailing whitespace of all sorts
      - id: trailing-whitespace
      # Sort lines in requirements files
      - id: requirements-txt-fixer
      # Apply a file size limit of 500kB
      - id: check-added-large-files
      # Simple parser validation of e.g. pyproject.toml
      - id: check-toml
      # Unify file endings
      - id: end-of-file-fixer

  # CMake Formatting/Linting Utility
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
      - id: cmake-lint
        args:
          # We *need* to set a variable with mixed casing - relax the linter to allow that.
          - --public-var-pattern
          - "[a-zA-Z][a-zA-Z0-9_]+"
