name: CI

on:
  # We run CI on pushes to the main branch
  push:
    branches:
      - main
  # and on all pull requests to the main branch
  pull_request:
    branches:
      - main
  # as well as upon manual triggers through the 'Actions' tab of the Github UI
  workflow_dispatch:

jobs:
  build-and-test:
    name: Testing on ${{matrix.os}} Py${{matrix.python-version}}
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.13"]

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: 'recursive'

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install Python development requirements
      run: |
        python -m pip install -r requirements-dev.txt

    - name: Install Python package
      run: |
        python -m pip install --no-build-isolation --config-settings=build-dir="build" --config-settings=cmake.build-type="Debug" --config-settings=cmake.define.BUILD_TESTS="ON" --config-settings=build.verbose=0 -v .

    - name: Run C++ tests
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: ctest --output-on-failure -C Debug

    - name: Run Python tests
      run: |
        python -m pytest

  address-sanitizer:
    name: Address sanitizer run
    runs-on: ubuntu-latest
    env:
      ASAN_OPTIONS: "detect_stack_use_after_return=1:check_initialization_order=1:strict_init_order=1"

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: 'recursive'

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"

    - name: Install Python development requirements
      run: |
        python -m pip install -r requirements-dev.txt

    - name: Install Python package
      run: |
        python -m pip install --no-build-isolation --config-settings=build-dir="build" --config-settings=cmake.build-type="Debug" --config-settings=cmake.define.BUILD_TESTS="ON" --config-settings=cmake.define.CMAKE_CXX_FLAGS="-fsanitize=address -fsanitize-address-use-after-scope -fno-omit-frame-pointer" --config-settings=cmake.define.CMAKE_EXE_LINKER_FLAGS="-fsanitize=address -fsanitize-address-use-after-scope -fno-omit-frame-pointer" -v -e .

    - name: Run C++ tests
      shell: bash
      working-directory: ${{github.workspace}}/build
      run: LD_PRELOAD="$(gcc -print-file-name=libasan.so) $(gcc -print-file-name=libstdc++.so)" ctest --rerun-failed --output-on-failure -C Debug
